.logout-button {
    /* Style the logout link to resemble a button */
    display: inline-block;
    padding: 0.5em 1em; /* Adjust padding as needed */
    background-color: #ff3d3d; /* Adjust background color */
    color: #333; /* Adjust text color */
    text-decoration: none; /* Remove underline */
    border: 1px solid #ff3d3d; /* Add border */
    border-radius: 4px; /* Add rounded corners */
    cursor: pointer; /* Set cursor to pointer on hover */
    transition: background-color 0.2s ease-in-out; /* Optional: Smooth hover effect */
  }
  
  .logout-button:hover {
    background-color: #ff2626; /* Adjust hover background color */
  }