.header {
    border-radius: 70px;
    background-color: #305bf4;
    align-self: stretch;
    display: flex;
    gap: 20px;
    font-size: 40px;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px; /* Adjusted padding to create space from the sides */
    margin-top: 20px; /* Added margin to create space from the top */
    margin-left: 20px;
    margin-right: 20px;
}

.navigation {
    display: flex;
    gap: 11px;
    flex-grow: 1;
    justify-content: space-between; 
    margin: 0;
}

.navigation a{
    font-family: Arial, sans-serif;
    color: #fff;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    margin-right: 50px;
    margin-left: 50px;
    text-decoration: none;
    
}

.navigation a.active {
    color: black; /* Change the color of active link */
    border-radius: 70px;
    background-color: #f5e4ea;
    color: #000;
    white-space: nowrap;
    justify-content: center;
    padding: 10px 24px;
}

.navigation a img {
    height: 50px;
    margin-top: 10px;
    margin-left: 650px;
}
