header {
    background-color: #007bff;
    color: #fff;
    padding: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 300px;
}

header h1 {
    padding-left: 80px;
    font-size: 40px;
    margin-right: 80px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    font-size: 24px;
    margin-right: 20px;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li.active a {
    color: #000000; /* Change the color to whatever you want for the active item */
  }