.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation a.active {
    color: black; /* Change the color of active link */
}

.navigation p{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
}

.nav-link a {
    text-decoration: none;
    color: white;
    align-items: center;
    padding-right: 40px;
}

.nav-link2 a {
    text-decoration: none;
    color: white;
    align-items: center;
    font-size: 20px;
}

.header {
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    display: flex;
    width: 100%;
    font-size: 40px;
}

.applications-left {
    color: #fff500;
    font-family: Arial, sans-serif;
}

.jobs-applied {
    color: #fff500;
    font: 18px Arial, sans-serif;
}

.refresh-time {
    color: #e3e3e3;
    font-family: Arial, sans-serif;
    font-size: 10px;
}

.user-avatar {
    height: 40px;
    width: auto;
    padding-top: 6px;
    padding-left: 60px;
    padding-right: 0;
}
